
{% load static %}
<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en-us">

<head>
	<meta charset="utf-8">
	<title>Wallet - Payday Loan Service Template</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
	<meta name="description" content="This is meta description">
	<meta name="author" content="Themefisher">
	<link rel="shortcut icon" href="{% static 'main_assets/images/favicon.png' %}" type="image/x-icon">
	<link rel="icon" href="{% static 'main_assets/images/favicon.png' %}" type="image/x-icon">

  <!-- theme meta -->
  <meta name="theme-name" content="wallet" />

	<!-- # Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">

	<!-- # CSS Plugins -->
	<link rel="stylesheet" href="{% static 'main_assets/plugins/slick/slick.css' %}">
	<link rel="stylesheet" href="{% static 'main_assets/plugins/font-awesome/fontawesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'main_assets/plugins/font-awesome/brands.css' %}">
	<link rel="stylesheet" href="{% static 'main_assets/plugins/font-awesome/solid.css' %}">

	<!-- # Main Style Sheet -->
	<link rel="stylesheet" href="{% static 'main_assets/css/style.css' %}">
</head>

<body>
{% include 'main_app/partials/header.html' %}
<div class="modal applyLoanModal fade" id="applyLoan" tabindex="-1" aria-labelledby="applyLoanLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h4 class="modal-title" id="exampleModalLabel">How much do you need?</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="#!" method="post">
          <div class="row">
            <div class="col-lg-6 mb-4 pb-2">
              <div class="form-group">
                <label for="loan_amount" class="form-label">Amount</label>
                <input type="number" class="form-control shadow-none" id="loan_amount" placeholder="ex: 25000">
              </div>
            </div>
            <div class="col-lg-6 mb-4 pb-2">
              <div class="form-group">
                <label for="loan_how_long_for" class="form-label">How long for?</label>
                <input type="number" class="form-control shadow-none" id="loan_how_long_for" placeholder="ex: 12">
              </div>
            </div>
            <div class="col-lg-12 mb-4 pb-2">
              <div class="form-group">
                <label for="loan_repayment" class="form-label">Repayment</label>
                <input type="number" class="form-control shadow-none" id="loan_repayment" disabled>
              </div>
            </div>
            <div class="col-lg-6 mb-4 pb-2">
              <div class="form-group">
                <label for="loan_full_name" class="form-label">Full Name</label>
                <input type="text" class="form-control shadow-none" id="loan_full_name">
              </div>
            </div>
            <div class="col-lg-6 mb-4 pb-2">
              <div class="form-group">
                <label for="loan_email_address" class="form-label">Email address</label>
                <input type="email" class="form-control shadow-none" id="loan_email_address">
              </div>
            </div>
            <div class="col-lg-12">
              <button type="submit" class="btn btn-primary w-100">Get Your Loan Now</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% block content %}
{% endblock %}
{% include 'main_app/partials/footer.html' %}
<!-- # JS Plugins -->
<script src="{% static 'main_assets/plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'main_assets/plugins/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'main_assets/plugins/slick/slick.min.js' %}"></script>
<script src="{% static 'main_assets/plugins/scrollmenu/scrollmenu.min.js' %}"></script>

<!-- Main Script -->
<script src="{% static 'main_assets/js/script.js' %}"></script>

</body>
</html>